*.dmp filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
public/taxdump/*.dmp filter=lfs diff=lfs merge=lfs -text
public/data/taxonomy_full.json filter=lfs diff=lfs merge=lfs -text
